In [2]:
# Program that calculate 2 number

In [3]:



""" This
is hbdfdgvbvfbdjvbkfgvbdb dvf v
a
multiple
line
comment"""

' This\nis hbdfdgvbvfbdjvbkfgvbdb dvf v\na\nmultiple\nline\ncomment'

In [22]:
name ='benfszdjkbfsgbfsdjkfcbsdvbsdvjhbsdjkzcvbsdjcvbsdjk'

In [23]:
name.capitalize()

'Benfszdjkbfsgbfsdjkfcbsdvbsdvjhbsdjkzcvbsdjcvbsdjk'

In [24]:
name.upper()

'BENFSZDJKBFSGBFSDJKFCBSDVBSDVJHBSDJKZCVBSDJCVBSDJK'

In [25]:
name.lower()

'benfszdjkbfsgbfsdjkfcbsdvbsdvjhbsdjkzcvbsdjcvbsdjk'

In [26]:
len(name)

50

In [28]:
product_title= "Oculus Quest Advanced All In One Virtual Reality Headset  GB"

In [29]:
# covert the title  to upper case 
product_title.upper()

'OCULUS QUEST ADVANCED ALL IN ONE VIRTUAL REALITY HEADSET  GB'

In [30]:
shopping_cart=['laptop','cable']

In [31]:
shopping_cart

['laptop', 'cable']

In [32]:
shopping_cart.remove('laptop')

In [33]:
shopping_cart

['cable']

In [34]:
shopping_cart.append('phone number')

In [35]:
shopping_cart

['cable', 'phone number']

In [36]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [ ]:
user={'email': 'jfjfjfjfjfj', 'password': 30}


 if  Email address or username exist in the database 
           print(login)
else: 
     print)

In [37]:
def sumoftwo(x,y):
    sum=x+y
    print(sum)

In [39]:
sumoftwo(10,60)

70

In [40]:
sumoftwo(90,60)

150

In [41]:
def square(num):
    """
    function to  square a number 
    """
    #return num**2
    print(num**2)

In [42]:
square(100)

10000